---
interface Props {
  label: string;
  lawInformation: string;
  fileButtonTooltip: string;
  filePath: string;
  icon: string;
  year: string;
}

const { label, lawInformation, fileButtonTooltip, filePath, icon, year } = Astro.props
---

<div class="border-l-4 border-[#12377B] max-w p-2 border-t-gray-200 border-r-gray-200 border-b-gray-200 bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <h5 class="p-4 text-xl font-normal tracking-tight text-gray-900 dark:text-white uppercase">
    <i class={`${icon} mr-2 text-2xl text-[#12377B] transition-all`}></i> 
    { label }
  </h5>        
  <div class="p-4 sm:ml-8">
    <p class="font-normal text-gray-400 dark:text-gray-200 mb-4">{lawInformation}</p>
    <a  type="button"
        title={fileButtonTooltip}
        class="ml-0 sm:ml-1 text-red-500 hover:text-white border border-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
        href={filePath}
        target="_blank">
      <i class="fa-solid fa-file-pdf mr-2"></i>{year}
    </a>
  </div>
</div>